.itemstyle{
    height: 400px;
    border: 1px solid rgb(184, 150, 65);
    border-width: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
}

@media (min-width: 640px){
    .itemstyle{
        height: 200px;
        margin-left: 5px;
    }
    .itemfont{
        font-size: 1px;
    }
}

@media (min-width: 768px){
    .itemstyle{
        height: 200px;
        margin-left: 10px;
    }
    .itemfont{
        font-size: 4px;
    }
   
}


@media (min-width: 1024px){
    .itemstyle{
        height: 200px;
        margin-left: 10px;
        
        
    }
}
.itemfont{
    font-size: 14px;
    margin-right: 60px;
}

@media (min-width: 1280px){
    .itemstyle{
        height: 200px;
        
        
        
    }
}
.itemfont{
    font-size: 14px;
    margin-right: 120px;
}

@media (min-width: 1536px){
    .itemstyle{
        height: 400px;
        
        
        
    }
}
.itemfont{
    font-size: 20px;
    margin-right: 5px;
}


